@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

audio,canvas,video {
display:inline-block;
}

audio:not([controls]) {
display:none;
height:0;
}

[hidden] {
display:none;
}

html {
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
background-color:#002b36;
color:#839496;
font-family:'PT Sans', sans-serif;
margin:1em;
}

a:focus {
outline:thin dotted;
}

a:active,a:hover {
outline:0;
}

h1 {
color:#b5b952;
font-size:2.8em;
}

abbr[title] {
border-bottom:1px dotted;
}

mark {
background:#ff0;
color:#000;
}

code,kbd,pre,samp {
font-family:monospace, serif;
font-size:1em;
}

pre {
background-color:#002b36;
border:1pt solid #586e75;
box-shadow:5pt 5pt 8pt #073642;
color:#839496;
padding:1em;
white-space:pre-wrap;
word-wrap:break-word;
}

q {
quotes:\201C \201D \2018 \2019;
}

small {
font-size:80%;
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline;
}

sup {
top:-.5em;
}

sub {
bottom:-.25em;
}

img {
border:0;
}

svg:not(:root) {
overflow:hidden;
}

fieldset {
border:1px solid silver;
margin:0 2px;
padding:.35em .625em .75em;
}

button,input,select,textarea {
font-family:inherit;
font-size:100%;
margin:0;
}

button,input {
line-height:normal;
}

button,html input[type=button],input[type=reset],input[type=submit] {
-webkit-appearance:button;
cursor:pointer;
}

button[disabled],input[disabled] {
cursor:default;
}

input[type=checkbox],input[type=radio] {
box-sizing:border-box;
padding:0;
}

input[type=search] {
-moz-box-sizing:content-box;
-webkit-appearance:textfield;
-webkit-box-sizing:content-box;
box-sizing:content-box;
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
-webkit-appearance:none;
}

textarea {
overflow:auto;
vertical-align:top;
}

table {
border-collapse:collapse;
border-spacing:0;
}

pre,code {
font-family:Inconsolata, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
font-family:'PT Sans Narrow', sans-serif;
font-weight:700;
}

code {
background-color:#073642;
padding:2px;
}

a:hover {
color:#222;
}

h2,h3,h4,h5,h6 {
color:#859900;
}

pre code {
background-color:#002b36;
}

h2 {
font-size:2.4em;
}

h3 {
font-size:1.8em;
}

h4 {
font-size:1.4em;
}

h5 {
font-size:1.3em;
}

h6 {
font-size:1.15em;
}

.tag {
-moz-border-radius:.35em;
-webkit-border-radius:.35em;
background-color:#073642;
border-radius:.35em;
color:#d33682;
padding:0 .2em;
}

.todo,.next,.done {
background-color:#dc322f;
color:#002b36;
padding:0 .2em;
}

.TODO {
-moz-border-radius:.2em;
-webkit-border-radius:.2em;
background-color:#2aa198;
border-radius:.2em;
}

.DONE {
-moz-border-radius:.2em;
-webkit-border-radius:.2em;
background-color:#859900;
border-radius:.2em;
}

.WAITING {
-moz-border-radius:.2em;
-webkit-border-radius:.2em;
border-radius:.2em;
foreground-color:#cb4b16;
}

.CANCELLED {
-moz-border-radius:.2em;
-webkit-border-radius:.2em;
border-radius:.2em;
foreground-color:#859900;
}

#background {
background:#f5f5f5;
border-left:1px solid #e5e5ee;
bottom:0;
left:600px;
position:fixed;
right:0;
top:0;
z-index:-1;
}

#projectname {
color:#839496;
font-size:32px;
font-style:italic;
font-weight:bolder;
left:712px;
position:fixed;
text-align:center;
top:2px;
}

#projectname a {
color:#839496;
text-decoration:none;
}

#projectname a:hover {
text-decoration:underline;
}

#generated {
float:right;
font-size:80%;
margin:10px;
}

.gravatar img {
margin-right:5px;
vertical-align:middle;
width:30px;
}

#content {
padding:10px 25px 1px 50px;
}

#content pre {
-moz-border-radius:3px;
-webkit-border-radius:3px;
-webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;
border:1px solid #DDD;
border-radius:3px;
color:#444;
font-size:12px;
margin:1em 0;
overflow:auto;
padding:5px;
}

#content pre code {
border:none!important;
color:#c6c6cc;
font-size:12px!important;
padding:0!important;
}

#jump_to,#jump_page {
-moz-border-radius-bottomleft:5px;
-moz-box-shadow:0 0 25px #777;
-webkit-border-bottom-left-radius:5px;
-webkit-box-shadow:0 0 25px #777;
background:#eee;
text-align:right;
}

#jump_to,#jump_wrapper {
padding:10px 15px;
position:fixed;
right:0;
top:0;
width:200px;
}

#jump_wrapper {
display:none;
padding:0;
}

#jump_page {
height:400px;
min-width:200px;
overflow-y:auto;
}

#jump_page .source {
border-top:1px solid #eee;
display:block;
padding:5px 10px;
text-decoration:none;
}

#jump_page .source:hover {
background:#f5f5f5;
}

#jump_page .source .base_path {
color:#8E8A96;
display:block;
text-align:left;
}

#jump_page .source .base_path .separator {
margin-leftl:2px;
margin-right:2px;
}

#page {
padding-top:40px;
}

table td {
border:0;
outline:0;
}

td.docs,th.docs {
max-width:550px;
min-height:5px;
min-width:550px;
overflow-x:hidden;
padding:10px 25px 1px 10px;
text-align:left;
vertical-align:top;
}

.docs a, .docs a:visited {
    color: rgb(152, 153, 134);
}



.docs .filepath {
color:#8E8A96;
margin-left:25px;
margin-top:-10px;
}

.docs pre {
margin:15px 0;
padding-left:15px;
}

.docs pre.code_stats {
font-size:60%;
}

.docs p tt,.docs p code {
background:#200101;
border:1px solid #424040;
font-size:14px;
padding:.25em;
}

.docs .dox {
border-top:#eee solid 1px;
padding-bottom:10px;
}

.docs .dox .details {
background-color:#200101;
border:1px solid #E5E5EE;
margin-bottom:10px;
padding:10px;
}

.docs .dox .dox_tag_detail {
margin-left:10px;
}

.docs .dox .dox_tag_detail span {
margin-right:5px;
}

.pilcrow {
-webkit-transition:opacity .2s linear;
color:#454545;
font:12px Arial;
left:-20px;
opacity:0;
padding:1px 2px;
position:absolute;
text-decoration:none;
top:3px;
}

td.docs:hover .pilcrow {
opacity:1;
}

td.code,th.code {
background:#f5f5f5;
border-left:1px solid #e5e5ee;
padding:14px 15px 16px 25px;
vertical-align:top;
width:100%;
}

pre,tt,code {
font-family:Menlo, Monaco, Consolas, "Lucida Console", monospace;
font-size:14px;
line-height:18px;
margin:0;
}

td.linenos {
background-color:#f0f0f0;
padding-right:10px;
}

span.lineno {
background-color:#f0f0f0;
padding:0 5px;
}

body .hll {
background-color:#ffc;
}

body .err {
border:1px solid red;
}

body .cp {
color:#BC7A00;
}

body .gd {
color:#A00000;
}

body .gr {
color:red;
}

body .gi {
color:#00A000;
}

body .go {
color:gray;
}

body .gu {
color:purple;
font-weight:700;
}

body .gt {
color:#0040D0;
}

body .kt {
color:#B00040;
}

body .na {
color:#7D9029;
}

body .nc {
color:#00F;
font-weight:700;
}

body .no {
color:#800;
}

body .nd {
color:#A2F;
}

body .ni {
color:#999;
font-weight:700;
}

body .ne {
color:#D2413A;
font-weight:700;
}

body .nf {
color:#65a0b8;
}

body .nl {
color:#A0A000;
}

body .nn {
color:#65a0b8;
font-weight:700;
}

body .nv {
color:#347db6;
}

body .ow {
color:#A2F;
font-weight:700;
}

body .w {
color:#bbb;
}

body .sd {
color:#219161;
font-style:italic;
}

body .se {
color:#B62;
font-weight:700;
}

body .si {
color:#B68;
font-weight:700;
}

body .sr {
color:#B68;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary,#jump_to:hover #jump_wrapper {
display:block;
}

body,figure {
margin:0;
}

b,strong,#jump_page .selected,.docs .dox .dox_tag_title,body .gs {
font-weight:700;
}

dfn,.docs .dox .dox_type,body .ge {
font-style:italic;
}

legend,button::-moz-focus-inner,input::-moz-focus-inner {
border:0;
padding:0;
}

a,a:visited {
color:#444;
}

.NEXT,.ACTIVE {
-moz-border-radius:.2em;
-webkit-border-radius:.2em;
background-color:#268bd2;
border-radius:.2em;
}

.HOLD,.NOTE {
-moz-border-radius:.2em;
-webkit-border-radius:.2em;
border-radius:.2em;
foreground-color:#d33682;
}

#container,.pilwrap {
position:relative;
}

body .c,body .cm,body .c1,body .cs {
color:#408080;
font-style:italic;
}

body .k,body .kc,body .kp,body .nb,body .sx,body .bp {
color:#954121;
}

body .o,body .m,body .mf,body .mh,body .mi,body .mo,body .il {
color:#666;
}

body .gh,body .gp {
color:navy;
font-weight:700;
}

body .kd,body .kn,body .kr,body .nt {
color:#954121;
font-weight:700;
}

body .s,body .sb,body .sc,body .s2,body .sh,body .s1 {
color:#219161;
}

body .ss,body .vc,body .vg,body .vi {
color:#19469D;
}
